<form novalidate (ngSubmit)="signUp()" [formGroup]="signUpForm">
  <div class="row">
    <div class="form-group col-md-8 col-md-offset-2">
      <input type="input" id="FirstNameId" class="form-control" formControlName="firstName" placeholder="Firstname" />
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-8 col-md-offset-2">
      <input type="input" id="LastNameId" class="form-control" formControlName="lastName" placeholder="Lastname" />
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-8 col-md-offset-2">
      <input type="input" id="EmailIdSignUp" class="form-control" formControlName="email" placeholder="Email address" />
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-8 col-md-offset-2">
      <input type="password" id="PasswordIdSignUp" class="form-control" formControlName="password"
        placeholder="Password" />
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-8 col-md-offset-2">
      <input type="submit" class="form-control btn btn-success" value="Create" />
    </div>
  </div>
</form>